@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&display=swap');

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Hanken Grotesk', sans-serif;
    background-color: hsl(241, 100%, 89%);
}

@media (min-width: 1026px) {
   
    .body {
        height: 100vh;
    } 
}


.bothsides {
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 30px;
}

@media (max-width:1025px) {
    .bothsides {
        flex-direction: column;
        margin: 0 10px;
    }
}

.leftside {
    color: white;
    background: hsl(252, 100%, 67%);
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);  
    text-align: center;
    border-radius: 30px;
    width: 400px;
    padding: 0 25px;
}

@media (max-width:1025px) {
    .leftside {
        width: 100%;
        padding: 0;
    }
}

.result {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

@media (max-width:1025px) {
    .result {
        margin: 0px;
        align-items: center;
    }
}

.yourresult {
    margin-bottom: 30px;
}

.resulttest {
    background: hsla(256, 72%, 46%, 1);
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);  
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    margin: 30px;
    width: 200px;
    height: 200px;
}

@media (max-width:1025px) {
    .resulttest {
        margin: 10px;
    }
}

.resultnumber {
    font-size: 50px;
}

.resulttitle {
    font-size: 40px;
}

@media (max-width:1025px) {
    .resulttitle {
        font-size: 13px;
    }
}

.text1{
    margin-top: 30px;
    margin-bottom: 100px;
}

@media (max-width:1025px) {
    .text1 {
        margin-top:10px;
        margin-bottom: 35px;
    }
}

.rightside {
    background-color: white;
    width: 400px;
    border-radius: 0 30px 30px 0; 
    padding: 50px;
    text-align: center;
}

@media (max-width:1025px) {
    .rightside {
        width: 100%;
        padding: 0;
        border-radius: 30px;
    }
}

.h1 {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    margin-left: 30px;
}

@media (max-width:1025px) {
    .h1 {
        font-size:10px
    }
}

.score {
    color: black;
}

.maxscore {
    color: rgb(177, 169, 169);
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
    width: 300px;
    height: 50px;
    padding: 10px;
}

@media (max-width: 1025px) {
    .skills {
        width: 80%;
        margin: 30px auto;
    }
}

.reaction {
    background-color: hsl(0, 52%, 95%);
    color: hsl(0, 100%, 67%)
}

.memory {
    background-color: hsla(39, 100%, 95%);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 95%);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color:  hsla(234, 85%, 95%);;
    color: hsl(234, 85%, 45%);
}

.button {
    color: white;
    font-size: 25px;
    width: 300px;
    height: 65px;
    border-radius: 80px;
    background: hsl(252, 100%, 67%);
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);  
    border: none;
}
