@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&display=swap');

.body {
    font-family:'Hanken Grotesk', sans-serif;
    background-color: hsl(241, 100%, 89%);
}

.bothsides {
    display: flex;
    justify-content: center;
    font-size: 18px;

}

.leftside {
    color: white;
    background: hsl(252, 100%, 67%);
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);  
    text-align: center;
    border-radius: 30px;
    width: 400px;
}

.result {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.yourresult {
    margin-bottom: 30px;
}

.resulttest {
    background: hsla(256, 72%, 46%, 1);
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);  
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    margin: 30px;
    width: 200px;
    height: 200px;
}

.resultnumber {
    font-size: 50px;
}

.resulttitle {
    font-size: 40px;
}

.text1{
    margin-top: 30px;
    margin-bottom: 100px;
}

.rightside {
    background-color: white;
    width: 400px;
    border-radius: 0 30px 30px 0;
}



.reaction {
    color: hsl(0, 100%, 67%)
}

.memory {
    color: hsl(39, 100%, 56%);
}

.verbal {
    color: hsl(166, 100%, 37%);
}

.visual {
    color: hsl(234, 85%, 45%);
}

.button {
    color: white;
    font-size: 25px;
    width: 200px;
    border-radius: 80px;
    background: hsl(252, 100%, 67%);
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);  
}