@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
body {
    font-family: 'Lexend Deca', sans-serif;
}
.section1 {
    display: flex;
    justify-content: center;
}

@media (min-width:1026px) {
    .section1 {
        align-items: center;
        height: 100vh;
    }
}

.maindiv { 
    color: hsl(0, 0%, 95%);
    display: flex;
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width:1025px) {
    .maindiv {
        width: 300px;
        flex-direction: column;
    }
}

.div1 {
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}
.div2 {
    background-color: darkcyan;
    padding: 40px;
}
.div3 {
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    margin: 25px 0;

}
.titleimg {

}

.text {
   
    font-size: 15px;
    
}
.titlelink {
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border: 1px solid transparent;
    color: black;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 85px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}
.orange {
    color: hsl(31, 77%, 52%);
}
.green {
    color: darkcyan;
}
.darkgreen {
    color:hsl(179, 100%, 13%);
}
.titlelink:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    border-color: hsl(0, 0%, 95%);
}
