@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: hsl(235, 18%, 26%)
}
.bothsides {
    display: flex;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 40px;
    background-color: #fff;
}
.leftside {
    padding: 50px;
    margin-top: 20px;
    width: 400px;
}
.title {
    font-size: 60px;
    font-weight: bold;
}
.text {
    margin: 30px 0;
}
.text_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text_list__item {
    display: flex;
    gap: 15px;
}
.subscription_text{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}
.subscription_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subscription_email {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid Grey: hsl(231, 7%, 60%);
    cursor: pointer;
}
.subscription_button {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
}
.subscription_button:hover {
    background-color: hsl(4, 100%, 67%);
}