@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.rating {
    padding: 51px;
    background-color: #232222;
    color: white;
    display: inline-block;
    border-radius: 35px; 
    margin: 96px 0 0 96px;
}

@media (max-width:1025px) {
    .rating {
        margin: 0;
        margin-top: 60px;
        padding: 20px;
        text-align: center;
    }
}

.title {
    font-size: 53px;
    font-weight: bold; 
}

.maintext {
    width: 535px;
    font-size: 25px;
    line-height: 40px;
    margin: 25px 0; 
}

@media (max-width:1025px) {
    .maintext {
        width: 100%;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    gap: 25px;
    margin-bottom: 70px;
}

@media (max-width:1025px) {
    .numbers {
        justify-content: center;
    }
}

.number {
    width: 87px;
    height: 87px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: #272727;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    color: white;
    cursor: pointer;
}

@media (max-width:1025px) {
    .number {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

.number:hover {
    border: 2px solid white;
    background-color: #E17716;
}

.button {
    width: 100%;
    height: 71px;
    background-color: #E17716;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: bold;
    border-radius: 56px;
    border: 1px solid transparent; 
    cursor: pointer;
}

@media (max-width:1025px) {
    .button {
    }
}

.button:hover {
    background-color: #272727;
    border: 1px solid #E17716;
}